<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.spring.studyware.StudyCreateMapper">

	<!-- 모집구분 (신규/충원) 리스트 받기 -->
	<select id="studyTypeList" resultType="edu.spring.studyware.domain.RecruitTypeVO">
		select name_recruit_type
		from sw_recruit_type
	</select>

	<!-- 스터디종류 (IT, 외국어, 철학, 등등) 리스트 받기 -->
	<select id="studyCateList" resultType="edu.spring.studyware.domain.RecruitCateVO">
		select name_recruit_cate
		from sw_recruit_cate
	</select>

	<!-- 모집구분 내용을 가지고 모집구분 번호 찾기 -->
	<select id="studyTypeNo" resultType="Integer">
		select recruit_type_no 
		from sw_recruit_type
		where name_recruit_type = #{name_recruit_type}
	</select>

	<!-- 스터디종류 내용을 가지고 스터디종류 번호 찾기 -->
	<select id="studyCateNo" resultType="Integer">
		select recruit_cate_no 
		from sw_recruit_cate
		where name_recruit_cate = #{name_recruit_cate}
	</select>
	
	<!-- 공부수준 리스트 테스트용 쿼리. 테스트 종료 후 삭제! -->
	<select id="levelList" resultType="edu.spring.studyware.domain.LevelListVO">
		select level_name from sw_level_list
	</select>
	
	<!-- progress - 진행중인 스터디 검색 -->
	<select id="selectRecruitProgress" resultType="edu.spring.studyware.domain.RecruitDTO">
		select b.name_board, r.recruit_no, c.name_recruit_cate, t.name_recruit_type, r.member_no,
     			 r.num_now, r.num_max, r.region_no, r.level_no, r.recruit_title,
     			 r.recruit_content, r.recruit_date, r.reg_date, r.expire, r.hit
		from sw_board_name b, sw_recruit r, sw_recruit_cate c, sw_recruit_type t, sw_apply a
		where b.board_name_no=r.board_name_no 
     		 and c.recruit_cate_no = r.recruit_cate_no
     		 and t.recruit_type_no = r.recruit_type_no
    		 and a.recruit_no = r.recruit_no
     		 and (r.member_no = #{member_no} or a.member_no = #{member_no});
	</select>
	
	<!-- progress - 신청중인 스터디 검색 -->
	<select id="selectApplyProgress" resultType="edu.spring.studyware.domain.ApplyVO">
		select a.recruit_no, a.apply_no, a.member_no, a.level_no, a.content, a.reg_date, a.agree
		from sw_apply a, sw_recruit r
		where a.recruit_no = r.recruit_no
      			and (r.member_no = #{member_no} or a.member_no = #{member_no});
	</select>
	
	<!-- 공부내용 1개 Insert. 동시에 level_name_no 가져옴 -->
	<insert id="insertlevelName1" parameterType="LevelNameVO">
		insert into sw_level_name (level1_name) 
		values (#{level1_name})
		<selectKey resultType="Integer" keyProperty="level_name_no" order="AFTER">
        	SELECT SW_LEVEL_NAME_SEQ.currval FROM dual
    	</selectKey>    
	</insert>
	
	<!-- 공부내용 2개 Insert. 동시에 level_name_no 가져옴 -->
	<insert id="insertlevelName2" parameterType="LevelNameVO">
		insert into sw_level_name (level1_name, level2_name) 
		values (#{level1_name}, #{level2_name})
		<selectKey resultType="Integer" keyProperty="level_name_no" order="AFTER">
        	SELECT SW_LEVEL_NAME_SEQ.currval FROM dual
    	</selectKey>    
	</insert>
	
	<!-- 공부내용 3개 Insert. 동시에 level_name_no 가져옴 -->
	<insert id="insertlevelName3" parameterType="LevelNameVO">
		insert into sw_level_name (level1_name, level2_name, level3_name) 
		values (#{level1_name}, #{level2_name}, #{level3_name})
		<selectKey resultType="Integer" keyProperty="level_name_no" order="AFTER">
        	SELECT SW_LEVEL_NAME_SEQ.currval FROM dual
    	</selectKey>    
	</insert>
	
	<!-- 공부내용 4개 Insert. 동시에 level_name_no 가져옴 -->
	<insert id="insertlevelName4" parameterType="LevelNameVO">
		insert into sw_level_name (level1_name, level2_name, level3_name, level4_name) 
		values (#{level1_name}, #{level2_name}, #{level3_name}, #{level4_name})
		<selectKey resultType="Integer" keyProperty="level_name_no" order="AFTER">
        	SELECT SW_LEVEL_NAME_SEQ.currval FROM dual
    	</selectKey>    
	</insert>
	
	<!-- 공부내용 5개 Insert. 동시에 level_name_no 가져옴 -->
	<insert id="insertlevelName5" parameterType="LevelNameVO">
		insert into sw_level_name (level1_name, level2_name, level3_name, level4_name, level5_name) 
		values (#{level1_name}, #{level2_name}, #{level3_name}, #{level4_name}, #{level5_name})
		<selectKey resultType="Integer" keyProperty="level_name_no" order="AFTER">
        	SELECT SW_LEVEL_NAME_SEQ.currval FROM dual
    	</selectKey>    
	</insert>

	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////  -->

	<!-- 공부수준 1개 Insert. 동시에 level_value_no 가져옴 -->
	<insert id="insertlevelValue1" parameterType="LevelValueVO">
		insert into sw_level_val (level1_value) 
		values (#{level1_value})
		<selectKey resultType="Integer" keyProperty="level_value_no" order="AFTER">
        	SELECT SW_LEVEL_VAL_SEQ.currval FROM dual
    	</selectKey>    
	</insert>
	
	<!-- 공부수준 2개 Insert. 동시에 level_value_no 가져옴 -->
	<insert id="insertlevelValue2" parameterType="LevelValueVO">
		insert into sw_level_val (level1_value, level2_value) 
		values (#{level1_value}, #{level2_value})
		<selectKey resultType="Integer" keyProperty="level_value_no" order="AFTER">
        	SELECT SW_LEVEL_VAL_SEQ.currval FROM dual
    	</selectKey>    
	</insert>
	
	<!-- 공부수준 3개 Insert. 동시에 level_value_no 가져옴 -->
	<insert id="insertlevelValue3" parameterType="LevelValueVO">
		insert into sw_level_val (level1_value, level2_value, level3_value) 
		values (#{level1_value}, #{level2_value}, #{level3_value})
		<selectKey resultType="Integer" keyProperty="level_value_no" order="AFTER">
        	SELECT SW_LEVEL_VAL_SEQ.currval FROM dual
    	</selectKey>    
	</insert>
	
	<!-- 공부수준 4개 Insert. 동시에 level_value_no 가져옴 -->
	<insert id="insertlevelValue4" parameterType="LevelValueVO">
		insert into sw_level_val (level1_value, level2_value, level3_value, level4_value) 
		values (#{level1_value}, #{level2_value}, #{level3_value}, #{level4_value})
		<selectKey resultType="Integer" keyProperty="level_value_no" order="AFTER">
        	SELECT SW_LEVEL_VAL_SEQ.currval FROM dual
    	</selectKey>    
	</insert>
	
	<!-- 공부수준 5개 Insert. 동시에 level_value_no 가져옴 -->
	<insert id="insertlevelValue5" parameterType="LevelValueVO">
		insert into sw_level_val (level1_value, level2_value, level3_value, level4_value, level5_value) 
		values (#{level1_value}, #{level2_value}, #{level3_value}, #{level4_value}, #{level5_value})
		<selectKey resultType="Integer" keyProperty="level_value_no" order="AFTER">
        	SELECT SW_LEVEL_VAL_SEQ.currval FROM dual
    	</selectKey>    
	</insert>
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////  -->
	
	<!-- 내용번호, 수준번호 Insert. 동시에 level_no 가져옴 -->
	<insert id="insertNameValueNo" parameterType="LevelVO">
		insert into sw_level (level_name_no, level_value_no) values (#{level_name_no}, #{level_value_no})
		<selectKey resultType="Integer" keyProperty="level_no" order="AFTER">
        	SELECT SW_LEVEL_SEQ.currval FROM dual
    	</selectKey>    
	</insert>
	
	<!-- 내용번호, 수준번호 Insert. 동시에 level_no 가져옴 -->
	<insert id="insertRecruit" parameterType="RecruitVO">
		insert into sw_recruit (board_name_no, recruit_cate_no, recruit_type_no, member_no, num_now, num_max, region_no, level_no, recruit_title, recruit_content, recruit_date)
		values (#{board_name_no}, #{recruit_cate_no}, #{recruit_type_no}, #{member_no}, #{num_now}, #{num_max}, #{region_no}, #{level_no}, #{recruit_title}, #{recruit_content}, #{recruit_date})
		<selectKey resultType="Integer" keyProperty="recruit_no" order="AFTER">
        	SELECT SW_RECRUIT_SEQ.currval FROM dual
    	</selectKey>    
	</insert>
	
	<!-- ///////////////////////////////////////////////////////////////////////////////////////////////  -->
	
	<select id="defaultRecruitList" resultType="edu.spring.studyware.domain.RecruitVO">
		select * from sw_recruit
	</select>
	
</mapper>